<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <div class="header-card">
      <div class="header">
        <h1>İşlem Onayları</h1>
      </div>
    </div>

    <div class="main-card">
      <div class="table-card">
        <div class="table-container">
          <h3 class="table-title">Bekleyen İşlemler</h3>
          <div class="table-wrapper">
            <table>
              <tr>
                <th>İşlem Türü</th>
                <th>Detaylar</th>
                <th>Personel</th>
                <th>Müşteri</th>
                <th>Tarih</th>
                <th>Durum</th>
                <th>İşlemler</th>
              </tr>
              <tr *ngFor="let request of requests">
                <td>{{request.type}}</td>
                <td>{{request.details}}</td>
                <td>{{request.personnel}}</td>
                <td>{{request.customer}}</td>
                <td>{{request.date}}</td>
                <td>{{request.status}}</td>
                <td>
                  <button (click)="approveRequest(request)" style="background-color: #28a745;">Onayla</button>
                  <button (click)="rejectRequest(request)" style="background-color:#dc3545;">Reddet</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>